
@import "tailwindcss";

@layer components{


    .header{
        @apply bg-[url('./assets/header-bg.png')] bg-no-repeat bg-center bg-cover w-full
    }
    .hero_container{
        @apply bg-[url('./assets/hero-bg.png')] bg-no-repeat bg-center bg-cover w-full
    }
    .feature_container{
        @apply bg-[url('./assets/hero-bg.png')] bg-no-repeat bg-center bg-cover
    }
}



.flex-userContainer  ::-webkit-scrollbar {
    display: none;
}

/* .chat-bubble.relative::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 12px;
  height: 12px;
  background: #60a5fa; /* Tailwind blue-400, same as chat-bubble-info bg */
  /* clip-path: polygon(100% 0, 0% 100%, 100% 100%); */
/* } */ 

